<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<script>

</script>
<body>

<h2>Poll Data</h2>
<div id="pollData">Poll Data goes here</div>

</body>
</html>